# Environment variables required for the application

# Prisma database connection strings (Replace with your own Neon / PostgreSQL credentials)
DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@host/neondb?sslmode=require"
SHADOW_DATABASE_URL="postgresql://user:password@host/shadow?sslmode=require"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_super_secret_key_here"
